.aboutHero{
    background-image: url('../assets/aboutHeader.jpg'), linear-gradient(rgba(37, 37, 37, 0.74),rgba(37, 37, 37, 0.74)) ;
    background-size: cover;
background-position: center;

background-blend-mode: overlay;
}