// @import '../assets/login-back.jpg';
.loginBack{
    background-image: url('../assets/login-back.jpg'), linear-gradient(rgba(39, 39, 39, 0.87),rgba(39, 39, 39, 0.87)) ;
    background-size: cover;
background-position: center;

background-blend-mode: overlay;
}