.ourStory{
    background-image: url('../assets/ourstory-bg.jpg'), linear-gradient(rgba(39, 39, 39, 0.87),rgba(39, 39, 39, 0.87)) ;
    background-size: cover;
background-position: center;
background-attachment: fixed; 
background-blend-mode: overlay;
}