.ourStory{
    background-image: url('../assets/ourstory-bg.jpg'), linear-gradient(rgba(39, 39, 39, 0.87),rgba(39, 39, 39, 0.87)) ;
    background-size: cover;
background-position: center;
background-attachment: fixed; 
background-blend-mode: overlay;
}


.modal-content {
    border-radius: 15px;
    overflow: hidden;
  }
  
  .modal-body .card-img-top {
    height: 220px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  