// .slidersMid
//     .splide__arrows--bottom {
//         position: absolute;
//         bottom: -10px;
//         left: 50%;
//         // transform: translateX(-50%);
//         z-index: 100;
//       }
.trending {
    // border: 1px solid red;

    .splide {
        padding: 0 5rem;
    }

    .splide__arrow {
        // path:'<i class="fa-solid fa-arrow-right"></i>';
        opacity: 1;
        width: 4rem;
        margin: 0;
        height: 4rem;
        background-color: transparent;
        border: 1px solid rgb(202, 201, 201);
        color: black;

        // color: white;
        &:hover {
            background-color: rgb(231, 4, 4);
            color: white;

        }

    }

    .splide__arrows--bottom {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 90vw;

        bottom: -15px;

        // right: 50%;
        // transform: translateX(50%);
        // z-index: 100;
        .splide__arrow.splide__arrow--prev {
            left: auto !important;
            margin-right: 70px;
        }

        .splide__arrow.splide__arrow--next {
            margin-left: 70px;
            right: auto !important;
        }

        .splide__arrow {

            &:focus {
                outline: none;
                /* Remove outline on focus */
                // border: none; /* Remove border on focus */
            }
        }

        
    }
    .trend-descrption {
        // font-size: 0.9rem;
        // line-height: 1.4rem;
        max-height: calc(1.2rem * 4);
        overflow-y: auto;
        // padding-right: 5px;
        color: #333;
      
        scrollbar-width: thin;
        scrollbar-color: #333 transparent;
      
        &::-webkit-scrollbar {
          width: 5px;
        }
      
        &::-webkit-scrollbar-thumb {
          background-color: #333;
          border-radius: 10px;
        }
      }
      

    @media (max-width: 640px) {
        .splide {
            padding: 0 10px;
            /* Adjust the padding values as per your requirement */
        }
    }
    .ShowDiscount .discount-hover-box {
        display: none;
        top: 110%;
        left: 0;
        z-index: 999;
        min-width: 140px;
        white-space: nowrap;
        font-size: 0.85rem;
        background-color: #fff;
        border: 1px solid #ddd;
      }
      
      .ShowDiscount:hover .discount-hover-box {
        display: block;
      }
      

}